.list {
    padding: 15px;
    width: 250px;
}

.titleWrapper{
    margin-top: 35px;
    width: 250px;
    height: 75px;
    position: fixed;
    top:0;
    background-color: #fff;
    text-align: center;
    vertical-align: center;
}

.title {
    margin-top: 35px;
    font-size: 25px;
    font-family: Arial;
    text-decoration: underline;
    text-decoration-color: tomato;
}

.text {
    margin-top: 35px;
    font-size: 25px;
    font-family: Arial;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: tomato;
}