.membersList{
    padding: 25px 75px 15px;
}
.title{
    margin: 115px 50px 0;
    font-size: 25px;
    font-family: Arial;
    text-decoration: underline;
    text-decoration-color: tomato;
}
.text {
    margin-top: 130px;
    font-size: 25px;
    font-family: Arial;
    text-align: center;
}