.lists {
    display: flex;
    justify-content: space-around;
}

.linkWrapper {
    height: 35px;
    width: 100%;
    text-align: center;
    background-color: tomato;
    box-shadow: 0 3px 5px 0 #333;
    vertical-align: center;
}

.link {
    text-decoration: none;
    font-size: 23px;
    line-height: 35px;
    font-family: Arial;
}