.userItem {
    height: 50px;
    display: flex;
    align-items: center;
    margin: 15px 0;
    padding-left: 15px;
}

.userLogo {
    width: 32px;
    height: 32px;
    margin-right: 15px;
    cursor: pointer;
}

.userName {
    font-size: 23px;
    font-family: Arial;
    cursor: pointer;
}
.userFollow{
    margin-left: 20px;
}